{% extends 'base.html.twig' %}

{% block title %}PostRequest{% endblock %}

{% block body %}
    <h1>PostRequest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post_request.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ post_request.getUserId().getUsername() }}</td>
            </tr>
            <tr>
                <th>Post Title</th>
                <td>{{ post_request.getPostId().getTitle() }} | <a href="/post/{{post_request.postid}}">view post</a></td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ post_request.status }}</td>
            </tr>
            {% if post_request.getPostId().getUserId().getUsername() == app.session.get('username') %}
                <tr>
                    <th>Actions</th>
                    <td>
                            <a href="/post/request/reply/{{post_request.id}}/Accepted" class="btn btn-success">Accept</a>
                            <a href="/post/request/reply/{{post_request.id}}/Rejected" class="btn btn-danger">Reject</a>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% if post_request.getUserId().getUsername() == app.session.get('username') %}
        {{ include('post_request/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
